<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{.title}}</title>
        <meta name="author" content="Ase Deliri"/>
        <meta name="keywords" content="golang, css3, html5, javascript, mysql, postgresql"/>
        <meta name="description" content="Ase Deliri's HTML Resume"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!-- FAVICON -->
        <link rel="icon" href="/assets/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">
    </head>