<!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- materialize js-->
        <script src="/assets/js/materialize.min.js"></script>

        <!-- wow js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <!-- Map api -->
        <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>

        <!-- Masonry js-->
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

        <script src="/assets/js/validator.min.js"></script>

        <!-- Customized js -->
        <script src="/assets/js/init.js"></script>

    </body>
</html>
