<!DOCTYPE html><html lang=en><meta charset=utf-8><title>{{.title}}</title><meta content="Ase Deliri"name=author><meta content="golang, css3, html5, javascript, mysql, postgresql"name=keywords><meta content="Ase Deliri's HTML Resume"name=description><meta content="width=device-width,initial-scale=1,maximum-scale=1"name=viewport><link href=/assets/images/favicon.ico rel=icon><link href=assets/images/apple-icon-72x72.png rel=apple-touch-icon sizes=72x72><link href=assets/images/apple-icon-76x76.png rel=apple-touch-icon sizes=76x76><link href=assets/images/apple-icon-114x114.png rel=apple-touch-icon sizes=114x114>