<!DOCTYPE html><!--[if IE 7]><html lang=en-US class="no-js ie7 oldie"><![endif]--><!--[if IE 8]><html lang=en-US class="no-js ie8 oldie"><![endif]--><!--[if gt IE 8]><!--><html lang=en><meta charset=utf-8><title>{{.title}}</title><meta content="width=device-width,initial-scale=1"name=viewport><meta content="CV, Portfolio, Resume"name=description><meta content="Ase Deliri"name=author><link href=/assets/images/favicon.ico rel=icon><link href=assets/images/apple-icon-72x72.png rel=apple-touch-icon sizes=72x72><link href=assets/images/apple-icon-76x76.png rel=apple-touch-icon sizes=76x76><link href=assets/images/apple-icon-114x114.png rel=apple-touch-icon sizes=114x114>